.header-bg {
  display: none;
}

.clients__main {
  margin-top: 77px;
  position: relative;
}

.clients__main::after {
  content: url("../img/clients-bg.png");
  position: absolute;
  left: 787px;
  top: -146px;
}

@media screen and (max-width: 1030px) {
  .clients__main::after {
    content: "";
  }
}

.clients__title {
  font-family: "Raleway Semibold", sans-serif;
  font-size: 50px;
  line-height: 102.9%;
  color: #2D9CDB;
}

@media screen and (max-width: 900px) {
  .clients__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 530px) {
  .clients__title {
    font-size: 23.7px;
  }
}

.clients__subtitle {
  font-size: 16px;
  line-height: 140.9%;
  color: #828282;
  margin-top: 18px;
  max-width: 588px;
}

@media screen and (max-width: 1030px) {
  .clients__subtitle {
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .clients__subtitle {
    text-align: justify;
    font-size: 14px;
  }
}

@media screen and (min-width: 810px) {
  .second_block {
    margin-top: -50px;
  }
}

@media screen and (max-width: 810px) {
  .second_block {
    margin-top: 80px;
  }
}

.causes {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 170px;
}

.causes__text {
  max-width: calc(45% - 15px);
  width: 400px;
}

@media screen and (max-width: 730px) {
  .causes__text {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}

.causes__title {
  font-family: "Raleway Semibold", sans-serif;
  font-size: 35px;
  line-height: 1.17;
  color: #2D9CDB;
}

@media screen and (max-width: 790px) {
  .causes__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 530px) {
  .causes__title {
    font-size: 22px;
  }
}

.causes__subtitle {
  font-size: 16px;
  line-height: 140.9%;
  color: #828282;
  margin-top: 10px;
}

@media screen and (max-width: 540px) {
  .causes__subtitle {
    text-align: justify;
    font-size: 14px;
  }
}

.causes__button {
  margin-top: 42px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.causes__button a {
  font-size: 14px;
  line-height: 140.9%;
  color: #fff;
  background: #F65E5D;
  border-radius: 20px;
  padding: 10px 26px;
}

@media screen and (max-width: 730px) {
  .causes__button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px;
  }
}

.causes__items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 55%;
  width: 588px;
  margin-top: -5px;
}

@media screen and (max-width: 730px) {
  .causes__items {
    max-width: 100%;
    width: 100%;
    margin-top: 35px;
  }
}

@media screen and (max-width: 530px) {
  .causes__items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .causes__items .causes__item:last-child {
    max-width: 100%;
    width: 100%;
  }
}

.causes__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: calc(33.333% - 10px);
  width: calc(33.333% - 10px);
  text-align: center;
  margin: 5px;
  min-height: 120px;
  padding: 19px 21px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(45, 156, 219, 0.13);
  box-shadow: 0px 4px 4px rgba(45, 156, 219, 0.13);
  border-radius: 12px;
}

@media screen and (max-width: 990px) {
  .causes__item {
    padding: 19px 5px;
  }
}

@media screen and (max-width: 530px) {
  .causes__item {
    max-width: calc(50% - 4px);
    width: calc(50% - 4px);
    margin: 4px 0;
  }
}

.causes__name {
  font-size: 14px;
  line-height: 110%;
  color: #333;
  margin-top: 14px;
}

@media screen and (max-width: 730px) {
  .causes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.languages {
  margin-top: 100px;
}

.languages__title {
  font-family: "Raleway Semibold", sans-serif;
  font-size: 35px;
  line-height: 1.17;
  color: #2D9CDB;
  text-align: center;
}

.languages__items {
  margin-top: 26px;
  height: 216px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.languages__col-2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 353px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1103px) {
  .languages__col-2 {
    min-width: 0;
    max-width: 32.05607476635514vw;
  }
}

.languages-1-wrapper, .languages-2-wrapper, .languages-3-wrapper, .languages-4-wrapper, .languages-5-wrapper, .languages-6-wrapper, .languages-7-wrapper, .languages-8-wrapper {
  overflow: hidden;
  margin: 5px;
  border-radius: 12px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.languages-1-wrapper {
  max-width: calc(22.42990654205607vw - 10px);
}

.languages-2-wrapper {
  max-width: calc(18.8785046728972vw - 5px);
}

.languages-3-wrapper {
  max-width: calc(12.24299065420561vw - 6px);
}

.languages-4-wrapper {
  max-width: calc(21.02803738317757vw - 6px);
}

.languages-5-wrapper {
  max-width: calc(10.09345794392523vw - 5px);
}

.languages-6-wrapper {
  max-width: calc(27.47663551401869vw - 10px);
}

.languages-7-wrapper {
  max-width: calc(15.23364485981308vw - 10px);
}

.languages-8-wrapper {
  max-width: calc(15.23364485981308vw - 10px);
  margin-top: 10px;
}

@media screen and (max-width: 961px) {
  .languages__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
  .languages__col-2 {
    min-width: calc(319px - 10px);
  }
  .languages-1-wrapper {
    max-width: calc(300px - 10px);
    width: calc(300px - 10px);
    max-height: 216px;
  }
  .languages-1-wrapper img {
    width: 100%;
  }
  .languages-2-wrapper {
    max-width: calc(181.5px - 5px);
  }
  .languages-3-wrapper {
    max-width: calc(117.6px - 6px);
  }
  .languages-4-wrapper {
    max-width: calc(202px - 6px);
  }
  .languages-5-wrapper {
    max-width: calc(97px - 5px);
  }
  .languages-6-wrapper {
    max-width: 420px;
    width: 420px;
    max-height: 216px;
  }
  .languages-6-wrapper img {
    width: 100%;
  }
  .languages-7-wrapper {
    max-width: calc(179px - 10px);
    width: calc(179px - 10px);
    max-height: 103px;
  }
  .languages-7-wrapper img {
    width: 100%;
  }
  .languages-8-wrapper {
    max-width: calc(179px - 10px);
    width: calc(179px - 10px);
    max-height: 103px;
    margin-top: 10px;
  }
  .languages-8-wrapper img {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .languages {
    padding-left: 13px;
  }
}

@media screen and (max-width: 632px) {
  .languages-1-wrapper {
    max-width: calc(400px - 10px);
    width: calc(400px - 10px);
    max-height: 216px;
  }
  .languages-1-wrapper img {
    width: 100%;
  }
  .languages-2-wrapper {
    max-width: 60%;
    width: 60%;
    max-height: 110px;
  }
  .languages-2-wrapper img {
    width: 100%;
  }
  .languages-3-wrapper {
    max-width: calc(40% - 20px);
    width: calc(40% - 20px);
    max-height: 110px;
  }
  .languages-3-wrapper img {
    width: 100%;
  }
  .languages-4-wrapper {
    max-width: 65%;
    width: 65%;
    max-height: 100px;
  }
  .languages-4-wrapper img {
    width: 100%;
  }
  .languages-5-wrapper {
    max-width: calc(35% - 20px);
    width: calc(35% - 20px);
    max-height: 100px;
  }
  .languages-5-wrapper img {
    width: 100%;
  }
  .languages-6-wrapper {
    max-width: calc(400px - 10px);
    width: calc(400px - 10px);
    max-height: 216px;
  }
  .languages-6-wrapper img {
    width: 100%;
  }
  .languages__col-2 {
    max-width: 400px;
    width: 400px;
    min-width: 0;
  }
  .languages__col-4 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
  }
  .languages__col-4 div {
    max-width: 50%;
    width: 50%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 422px) {
  .languages-1-wrapper, .languages-6-wrapper {
    max-width: calc(100% - 10px);
    width: calc(100% - 10px);
  }
  .languages__col-1, .languages__col-3 {
    width: 100%;
  }
  .languages__col-2 div img {
    height: 100%;
  }
}

.services {
  position: relative;
  margin-top: 100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__text {
  max-width: 34.214%;
  width: 34.214%;
  padding-right: 20px;
}

.services__text p {
  font-size: 16px;
  line-height: 140.9%;
  color: #828282;
  margin-top: 11px;
}

.services h2 {
  font-family: "Raleway Semibold", sans-serif;
}

@media screen and (max-width: 1030px) {
  .services h2 {
    padding-left: 0;
  }
}

@media screen and (max-width: 969px) {
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .services .about__items__container__column--1, .services .about__items__container__column--2, .services .about__items__container__column--3 {
    top: 0;
  }
}

@media screen and (max-width: 969px) and (max-width: 870px) {
  .services .about__items__container__column--1, .services .about__items__container__column--2, .services .about__items__container__column--3 {
    padding: 0 5px;
  }
}

@media screen and (max-width: 969px) {
  .services .services__text {
    max-width: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .services .about__items__container {
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 870px) {
  .services h2 {
    text-align: left;
  }
}

@media screen and (max-width: 540px) {
  .services h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 390px) {
  .services__text p {
    text-align: justify;
  }
}

@media screen and (max-width: 350px) {
  .services h3 {
    font-size: 17px;
  }
}

.about__items__container__column--2 {
  top: 8px;
}

@media screen and (max-width: 1030px) {
  .about__items__container__column--2 {
    top: 37px;
  }
}

.about__items__container {
  max-width: 65.786%;
  width: 65.786%;
  margin-left: 0;
}

.services .about__item {
  position: relative;
  display: inline-block;
  max-width: 235px;
  height: 192px;
  padding: 21px;
  margin: 10px;
  background: #fff;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(45, 156, 219, 0.13);
  box-shadow: 0px 4px 4px rgba(45, 156, 219, 0.13);
  border-radius: 12px;
}

.services .about__item h3 {
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Raleway Semibold", sans-serif;
}

@media screen and (max-width: 1030px) {
  .services .about__item {
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 870px) {
  .services .about__item {
    margin: 5px 0;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .services .about__item {
    padding: 15px 5px;
    width: 50%;
    max-width: 50%;
    min-width: 50%;
  }
}

.services .about__item p {
  color: #828282;
  line-height: 136.4%;
}

.services .about__item img {
  display: block;
  position: relative;
  float: none;
}

@media screen and (max-width: 870px) {
  .services .about__item img {
    margin: 0 auto;
  }
}

@media (min-width: 1030px) {
  .services img {
    display: block;
  }
}

.documentation {
  margin-top: 100px;
  position: relative;
}

.documentation__bg {
  position: absolute;
  left: 977px;
  bottom: 34px;
}

.documentation__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 1.17;
  color: #2D9CDB;
}

@media screen and (max-width: 490px) {
  .documentation__title {
    font-size: 28px;
    text-align: center;
  }
}

.documentation__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.documentation__wrapper .documentation__item:last-child {
  margin-left: 20px;
}

@media screen and (max-width: 610px) {
  .documentation__wrapper .documentation__item:last-child {
    margin-left: 10px;
  }
}

@media screen and (max-width: 504px) {
  .documentation__wrapper .documentation__item:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 504px) {
  .documentation__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.documentation__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 10px 26px 17px;
  max-width: 285px;
  min-height: 167px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(45, 156, 219, 0.13);
  box-shadow: 0px 4px 4px rgba(45, 156, 219, 0.13);
  border-radius: 15px;
}

@media screen and (max-width: 504px) {
  .documentation__item {
    max-width: 100%;
    width: 100%;
  }
}

.documentation__col {
  padding-left: 10px;
}

.documentation__name {
  font-size: 20px;
  line-height: 136.4%;
  color: #333;
  font-family: "Raleway Semibold", sans-serif;
}

.documentation__subtitle {
  font-size: 14px;
  line-height: 136.4%;
  color: #828282;
  margin-top: 6px;
  margin-bottom: 20px;
}

.documentation__img {
  margin-top: 5px;
}

.documentation__btn {
  font-size: 14px;
  line-height: 136.4%;
  background: -webkit-linear-gradient(250.31deg, #2D9CDB 1%, rgba(21, 73, 173, 0.54) 101.18%);
  background: -o-linear-gradient(250.31deg, #2D9CDB 1%, rgba(21, 73, 173, 0.54) 101.18%);
  background: linear-gradient(199.69deg, #2D9CDB 1%, rgba(21, 73, 173, 0.54) 101.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solutions img {
  position: absolute;
  left: 961px;
  top: -80px;
}

.solutions__header {
  margin-top: 100px;
}

.solutions {
  margin-top: 43px;
}

.button--red {
  padding: 10px 17px;
}

.callback {
  padding: 10px 17px;
  background: -webkit-linear-gradient(248.5deg, #2D9CDB 1%, rgba(21, 73, 173, 0.54) 101.18%);
  background: -o-linear-gradient(248.5deg, #2D9CDB 1%, rgba(21, 73, 173, 0.54) 101.18%);
  background: linear-gradient(201.5deg, #2D9CDB 1%, rgba(21, 73, 173, 0.54) 101.18%);
}

@media screen and (min-width: 1031px) {
  .about__items__container__column--3 {
    top: 0;
  }
}
