@font-face {
  font-family: 'Raleway Semibold';
  src: url("../font/Raleway-SemiBold.eot");
  src: url("../font/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("../font/Raleway-SemiBold.woff") format("woff"),
  url("../font/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Regular';
  src: url("../font/Raleway-Regular.eot");
  src: url("../font/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
  url("../font/Raleway-Regular.woff") format("woff"),
  url("../font/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Light';
  src: url('../font/Raleway-Light.eot');
  src: url('../font/Raleway-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/Raleway-Light.woff') format('woff'),
  url('../font/Raleway-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Medium';
  src: url('../font/Raleway-Medium.eot');
  src: url('../font/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/Raleway-Medium.woff') format('woff'),
  url('../font/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Raleway Regular', sans-serif;
}
